/* Style for the form container */
.form-container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

/* Style for the label inside form container */
.input-label {
  margin-bottom: 5px;
}

input[type="text"],
select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

select {
  text-align-last: center;
}

/* Style for radio button container */
.radio-container {
  display: flex;
  align-items: center;
}

/* Style for radio buttons */
input[type="radio"] {
  margin-right: 15px;
}

/* Style for radio button labels */
.radio-container label{
  padding-top: 5px;
}

/* Style for the submit button */
.form-container button{
  background-color: #5DE2E7;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

.form-container button:hover{
  background-color: #03FB8C;
}

/* Validation error message style */
.validationErr {
  color: red;
  margin-bottom: 5px;
}


